* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: repeat(4, 252px);
  gap: 13.33px;
  justify-content: center;
}
.card {
  width: 252px;
  padding: 16px;
  border: 2px solid var(--bg-border);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card h5 {
  min-height: 30px;
}
.card img {
  border-radius: 8px;
}
.card button {
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  background-color: var(--primary);
  border: none;
  transition: all;
  cursor: pointer;
}
.card button:hover {
  background-color: var(--primary-hover);
}
.card button:active {
  background-color: var(--primary-active);
}
/* Method Pages */
.method-body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(1, 0, 37);
}
.method-main {
  width: 1080px;
  padding: 16px;
  margin: 25px auto;
  background-color: rgb(58, 58, 58);
  border-radius: 12px;
  background-color: rgb(58, 58, 58);
}

.method-body img {
  border-radius: 12px;
}
.method-body button {
  padding: 8px 12px;
  background-color: rgb(36, 36, 36);
  border-radius: 8px;
  border: none;
}
.method-body li {
  margin-top: 4px;
}
#hide {
  background: whitesmoke;
}
#hide:hover {
  background: none;
}
